@model ComicBookGallery.Models.Series[]

@{
    ViewBag.Title = "Series";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var series in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(@series.Title, "Detail", new { id = series.Id })</h4>
            <a href="@Url.Action("Detail", "Series",
                    new { id = series.Id })">
                <img src="/Images/@series.CoverImageFileName"
                        alt="@series.Title"
                        class="img-responsive" />
            </a>
        </div>
    }
</div>

